body {
	 font-family: 'Lobster', cursive;

}


.alhambra{
	color: yellow;
}


.texto-home{
	color: silver;
	margin: 50px auto;
}

.contenedor1{
	margin: 300px 800px 400px;
}


.header{
	border:0px solid black;
	width: 100%;
	background: rgba(0,0,0,0.9);


}

.footer{
	color: silver;
	border:0px solid black;
	width: 100%;
	background: rgba(0,0,0,1);
}

.conten {
	width: 100px;
	height:1000px;
}


